

<h1>I'm hungry!</h1>

<p>Where do you want to eat?</p>

<form method="POST">
	<select name="city">
		<option>I don't care</option>
	{% for c in cities %}
		<option id="{{ c }}">
			{{ c }}
		</option>
	{% endfor %}
	</select>
</form>



<p>What kind of food do you want?</p>

<select>
	<option>Doesn't matter</option>
{% for c in categories %}
	<option>
		{{ c }}
	</option>
{% endfor %}
</select>

<br>

<p style="margin-top: 20px;">
<a href="/results">Feed me!</a>
</p>
<br>
<p style="margin-top: 20px;">
<a href="">Sign in</a>
</p>